<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list_style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="my-3">Task List</h1>

    <form action="/tasks" method="GET" id="sorting-form" class="row g-3 my-3">
        <label for="sort_by" class="col-auto col-form-label">Sort By</label>
        <div class="col">
            <select id="sort_by" name="sort_by" class="form-select">
                <option value="id" {% if request.args.get('sort_by') == 'id' %}selected{% endif %}>
                    ID
                </option>
                <option value="title" {% if request.args.get('sort_by') == 'title' %}selected{% endif %}>
                    Title
                </option>
                <option value="deadline" {% if request.args.get('sort_by') == 'deadline' %}selected{% endif %}>
                    Deadline
                </option>
                <option value="priority" {% if request.args.get('sort_by') == 'priority' %}selected{% endif %}>
                    Priority
                </option>
            </select>
        </div>

        <div class="col-auto">
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check"
                       name="order" value="ASC"
                       id="asc-radio" autocomplete="off"
                       {% if request.args.get('order') != 'DESC' %}checked{% endif %}>
                <label class="btn btn-outline-primary" for="asc-radio">Ascending</label>

                <input type="radio" class="btn-check"
                       name="order" value="DESC"
                       id="desc-radio" autocomplete="off"
                       {% if request.args.get('order') == 'DESC' %}checked{% endif %}>
                <label class="btn btn-outline-primary" for="desc-radio">Descending</label>
            </div>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-3">Title</th>
            <th scope="col" class="col-3">Description</th>
            <th scope="col" class="col-2">Deadline</th>
            <th scope="col" class="col-1">Priority</th>
            <th scope="col" class="col-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task[0] }}</td>
                <td>{{ task[1] }}</td>
                <td>{{ task[2] }}</td>
                <td>{{ task[3] }}</td>
                <td>{{ task[4] }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <form action="/update_task/{{ task[0] }}" method="GET">
                            <button type="submit" class="btn btn-outline-primary btn-sm me-1">Update</button>
                        </form>
                        <form action="/delete_task/{{ task[0] }}" method="POST"
                              onsubmit="return confirm('Are you sure you want to delete this task?')">
                            <button type="submit" class="btn btn-outline-danger btn-sm ms-1">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/add_task" class="btn btn-primary my-3">Add Task</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
